<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>


  		<typeAlias type="com.project.travel.tNotice.TNoticeVO" alias="TNoticeVO"/>
  		<typeAlias type="com.project.travel.tNotice.TNoticeFilesVO" alias="TNoticeFilesVO"/>

  		<typeAlias type="com.project.travel.product.ProductVO" alias="ProductVO"/>
  		<typeAlias type="com.project.travel.product.ProductFilesVO" alias="ProductFilesVO"/>
  		
  		<typeAlias type = "java.lang.Long" alias="Long" />
  		

  		
  		<typeAlias type="com.project.travel.tQna.TQnaVO" alias="TQnaVO"/>
  		<typeAlias type="com.project.travel.tQna.TQnaFilesVO" alias="TQnaFilesVO"/>
  		
  		<typeAlias type="com.project.travel.tReview.TReviewVO" alias="TReviewVO"/>
  		<typeAlias type="com.project.travel.tReview.TReviewFilesVO" alias="TReviewFilesVO"/>
  		
  		
  		
  		<typeAlias type="com.project.travel.util.Pager" alias="Pager"/>
  		<typeAlias type="java.util.List" alias="List"/>
  		
  		<typeAlias type="java.util.Map" alias="Map"/>
  		<typeAlias type="com.project.travel.Tfestival.TfestivalVO" alias="TfestivalVO"/>
  		<typeAlias type="com.project.travel.Tfestival.TfestivalFilesVO" alias="TfestivalFilesVO"/>
  		
  		<typeAlias type="com.project.travel.Tbest.TbestVO" alias="TbestVO"/>
  		<typeAlias type="com.project.travel.Tbest.TbestFilesVO" alias="TbestFilesVO"/>


  		<typeAlias type="com.project.travel.member.MemberVO" alias="MemberVO"/>
  		
  		<typeAlias type="com.project.travel.cart.CartVO" alias="CartVO"/>

  	</typeAliases>
  </configuration>