<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.project.travel.cart.CartMapper">
	<insert id="setAdd" parameterType="CartVO">
		INSERT INTO TCART(CARTNUM, ID, PRODUCTNUM, AMOUNT, PAYCHECK, REGDATE, TOTAL)
		VALUES(NULL, #{id}, #{productNum},#{amount},#{payCheck},#{regDate},#{total})
	</insert>
	
	<select id="getList" parameterType="MemberVO" resultMap="cartResult">
		SELECT C.*,P.NAME  
		FROM (SELECT * FROM TCART WHERE ID=#{id}) C
		LEFT JOIN 
		TPRODUCT P 
		USING (PRODUCTNUM)
	</select>
	
	<resultMap type="cartVO" id="cartResult">
		<id column="cartNum" property="cartNum"/>
 		<result column="id" property="id"/>
 		<result column="productNum" property="productNum"/>
 		<result column="amount" property="amount"/>
 		<result column="payCheck" property="payCheck"/>
 		<result column="regDate" property="regDate"/>
 		<result column="total" property="total"/>
 		
		<collection property="productVOs" javaType="ProductVO" ofType="ProductVO">
	 		<id column="productNum" property="productNum"/>
			<result column="largeCategory" property="largeCategory"/>
			<result column="mediumCategory" property="mediumCategory"/>
			<result column="smallCategory" property="smallCategory"/>
			<result column="name" property="name"/>
			<result column="price" property="price"/>
			<result column="contents" property="contents"/>
			<result column="address" property="address"/>
			<result column="homePage" property="homePage"/>
			<result column="maxCount" property="maxCount"/>
 		</collection>
		</resultMap>
	
</mapper>