<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.travel.Tbest.TbestReply.TbestReplyMapper">
	<select id="getList" parameterType="TbestReplyVO" resultType="TbestReplyVO">
		SELECT*FROM TBESTREPLY
		WHERE NUM=#{num}
		ORDER BY REPLYNUM DESC
	</select>
	
	<insert id="setAdd" parameterType="TbestReplyVO" useGeneratedKeys="true" keyProperty="replyNum">
		INSERT INTO TBESTREPLY (REPLYNUM, NUM, ID, CONTENTS, REGDATE)
		VALUES (#{replyNum}, #{num}, #{id}, #{contents}, now())
	</insert>
	
	<delete id="setDelete" parameterType="TbestReplyVO">
		DELETE FROM TBESTREPLY WHERE REPLYNUM=#{replyNum}
	</delete>
	
	<update id="setUpdate" parameterType="TbestReplyVO">
		UPDATE TBESTREPLY SET CONTENTS=#{contents} WHERE REPLYNUM=#{replyNum}
	</update>
	
</mapper>