<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.travel.Tfestival.TfestivalMapper">

<select id="list" parameterType="TfestivalVO" resultType="TfestivalVO">
	SELECT * FROM TFESTIVAL
	<!-- WHERE NUM > 0 AND
	<choose>
			<when test="kind == 'col1'">
				NAME
			</when>
			<otherwise>
				LOCATION
			</otherwise>
		</choose>
		LIKE concat('%', #{search},'%')
		ORDER BY NUM DESC
		LIMIT #{startRow}, #{perPage} -->
</select>

<select id="detail" parameterType="TfestivalVO" resultType="TfestivalVO">
	SELECT * FROM TFESTIVAL WHERE NUM = #{num}
</select>

<insert id="add" parameterType="TfestivalVO">
      INSERT INTO TFESTIVAL(NUM, NAME, STARTDATE, FINISHDATE, LOCATION, DETAIL, HOMEPAGE, AGE, PHONE)
  	  VALUES (#{num}, #{name}, #{startDate}, #{finishDate}, #{location}, #{detail}, #{homePage}, #{age}, #{phone})
</insert>

<delete id="delete" parameterType="TfestivalVO">
 	DELETE FROM TFESTIVAL WHERE NUM = #{num}
</delete>

</mapper>